/* utilities */
* {
	font-family: Verdana;
}

.text-white {
	color: white;
}

.tiny {
	font-size: 9px;
}



/*Pagina de contacto*/

.contacto {
		background: url(../image/large.jpg);
	background-position: center;
	background-repeat: none;
	background-size: cover;
	text-align: center;
	min-height: 100vh;
}

.formulario {
	background-color: white;
	border-top: 8px solid #74a3db;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 5%;

}

.br-bt {
	border-bottom: 1px solid gray;
}

.red {
	color: red;
}

.pd-fm {
	width: 70%;
} 
.cuadro {
	background-color: white; 
	border: 1px solid gray; 
	width: 80%; 
	min-height: 20px;
	margin-bottom: 10px;
}

.rd-cyan {
	color: white;
	background-color: #74a3db;
	border-radius: 4px;
}

.tx-cn {
	text-align: center;
} 

.iz {
	position: absolute;
	left:0; 
	margin-left: 3%;
}

.dr {position: absolute;
	right: 0;
	margin-right: 3%;
}



/*hover effects*/

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}



.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #2098d1;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Header */

header {
	background: url(../image/large.jpg);
	background-position: center;
	background-repeat: none;
	background-size: cover;
	text-align: center;
}

header img {
	width: 45%;
}

nav li {
	display: inline;
	list-style: none;
}
ul.lk li a {
	margin-right: 2%;
	text-decoration: none;
}

ul.lk li a:hover {
	color:white;
	text-decoration: none;
}

.centro{
	margin-top: 9%;
	margin-bottom: 9%;
}
.op-black {
	 background: rgba(0, 0, 0, 0.5) !important;
		padding-top: 4%;
		padding-bottom: 4%;
}
.op-cyan {
	background-color: rgba(107,154,201,0.5) !important;
}
.boton-pr {
	background: transparent;
	color: white;
	border: 1px solid white;
	margin-top: 8%;
	margin-bottom: 8%;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
}