.titulo{
	color: #58a5ff;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	font-size: 35px;
	padding-bottom: 40px;
}

.icon{
	color: #58a5ff;
	text-align: center;
	margin: 0 auto;
	font-size: 40px;
	border-radius: 50px;
	padding: 30px;
	border:1px solid gray;
}

.icono{
	margin-left: 30%;
    padding-bottom: 30px;
}

.textazul{
	color: #0172c3;
    text-align: center;
    font-size: 22px;
    padding: 13px;
    margin-right: 40px;
    margin-left: 40px;

}

.textazul2{
	color: #0172c3;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;

}

.textgris{
	color: #454545;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    padding-bottom: 25px;
}

.hexa{
	color: #58a5ff;
    margin-left: 50%;
    padding-bottom: 20px;
}

.Ejem{
	color: #58a5ff;
	font-size: 35px;
	padding: 10px;
}

.gris{
	color: #454545;

}

.img{
	max-width: 50%;
    font-size: 29px;
    padding: 10px;

}
.image{
	padding: 20px;
    position: absolute;
    left: 230px
}


.fondo{
	background-image: url(../image/sec-2.jpg);
	max-width: 100%;
	height: 500px;
	background-size: cover;
}

.ico2{
	color: white;
	background-color: #58a5ff;
	border-radius: 60px;
	margin-bottom: 50px;
	padding: 20px;
}

.icono2{
	position: absolute;
	top: 100px; 
}

.icono3{
	position: absolute;
	top: 250px; 
}

.icono4{
	position: absolute;
	top: 450px; 
}

.paso{
	color: #58a5ff;
}

.pasos{
	padding: 20px;
}

@media (min-width: @screen-md-min) {
	 .fondo{
	 	height: 200px;
	 }
	
 }








