.logo{
	padding-top: 11%;
	float: left;
	width:53%; 
}

.porque{
	float: left;
	font-size: 40px;
	padding-top: 10%;
	color: #58a5ff;
}

.parrafo{
	padding-top:26%;
}

.banner{
	width:92%;
	padding-top: 10%;
}

.parrafo2{
	padding-top: 2%;
}


.prueba{
	background-color: #74a3db;
	color:white;
	text-align: center;
	margin-top: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.pruebalo{
margin-top: 1%;
color:white;
}

.cajita{
	border:3px white solid;
	border-radius: 4px;
	width: 33%;
	margin-top: 2%;
	margin-left: 30%;
	font-size: 23px;
}

.escribenos{
	background-color: #2a3541;
	color:white;
	padding-top: 2%;
	padding-bottom: 1%;
}

.ico{
	font-size: 250%;
	color: #0172c3;
}

.iconos{
padding-left: 80%;
padding-bottom: 2%;

}

.letra{
	padding-left:67%;
}