.titulo{
	color: #58a5ff;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	font-size: 35px;
}

.textazul{
	color: #0172c3;
    text-align: center;
    font-size: 22px;
    padding: 13px;
    margin-right: 60px;
    margin-left: 60px;

}

.textazul2{
	color: #0172c3;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;

}

.textgris{
	color: #454545;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    padding-bottom: 25px;
}

.hexa{
	margin: 0 auto;
	font-size: 20px;
	color: #58a5ff;
}

.Ejem{
	color: #58a5ff;
	font-size: 35px;
	padding: 10px;
}

.gris{
	color: #454545;

}

.img{
	max-width: 50%;
    font-size: 29px;
    padding: 10px;

}
.image{
	padding: 20px;
    position: absolute;
    left: 230px
}

.icon{
	color: #58a5ff;
}

.paso{
	
}